<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmu.lab5.mapper.OrdersMapper">

    <select id="findOrders" parameterType="OrdersPo" resultType="OrdersPo">
        SELECT *
        FROM orders
        WHERE
        true
        <if test="id!=null">and id = #{id} </if>
    </select>

    <select id="findOrderItem" parameterType="OrderItemPo" resultType="OrderItemPo">
        SELECT *
        FROM order_item
        WHERE
        true
        <if test="orderId!=null">AND order_id = #{orderId} </if>
    </select>

    <insert id="createOrders" parameterType="OrdersPo" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO orders(consignee,region_id,address,mobile,message,coupon_id,presale_id,groupon_id)
        VALUES(#{consignee},#{regionId},#{address},#{mobile}, #{message}, #{couponId},#{presaleId},#{grouponId})
    </insert>

    <insert id="createOrderItem" parameterType="OrderItemPo" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO order_item(order_id,goods_sku_id,quantity,coupon_activity_id)
        VALUES(#{orderId},#{goodsSkuId},#{quantity},#{couponActivityId})
    </insert>

    <resultMap type="OrdersRetVo" id="OrdersOrderItemResultMap" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="orderItems" ofType="cn.edu.xmu.lab5.model.OrderItemRetVo" autoMapping="true">
            <result property="skuId" column="goods_sku_id"/>
            <result property="orderId" column="order_id"/>
            <result property="couponActId" column="coupon_activity_id"/>
            <result property="beSharedId" column="be_share_id"/>
        </collection>
    </resultMap>

    <resultMap id="BaseResultMap" type="cn.edu.xmu.lab5.model.OrdersRetVo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="consignee" jdbcType="VARCHAR" property="consignee"/>
        <result column="region_id" jdbcType="BIGINT" property="regionId"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="order_type" jdbcType="TINYINT" property="orderType"/>
        <result column="freight_price" jdbcType="BIGINT" property="freightPrice"/>
        <result column="coupon_id" jdbcType="BIGINT" property="couponId"/>
        <result column="discount_price" jdbcType="BIGINT" property="discountPrice"/>
        <result column="origin_price" jdbcType="BIGINT" property="originPrice"/>
        <result column="presale_id" jdbcType="BIGINT" property="presaleId"/>
        <result column="rebate_num" jdbcType="INTEGER" property="rebateNum"/>
        <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime"/>
        <result column="shipment_sn" jdbcType="VARCHAR" property="shipmentSn"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="substate" jdbcType="TINYINT" property="subState"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="groupon_id" jdbcType="BIGINT" property="grouponId"/>
        <!-- 一对多关联映射使用:collection -->
        <collection property="orderItems" javaType="List" column="id" ofType="cn.edu.xmu.lab5.model.OrderItemRetVo" fetchType="lazy">
            <result column="order_id" jdbcType="BIGINT" property="orderId"/>
            <result column="goods_sku_id" jdbcType="BIGINT" property="skuId"/>
            <result column="quantity" jdbcType="INTEGER" property="quantity"/>
            <result column="price" jdbcType="BIGINT" property="price"/>
            <result column="discount" jdbcType="BIGINT" property="discount"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="coupon_activity_id" jdbcType="BIGINT" property="couponActId"/>
            <result column="be_share_id" jdbcType="BIGINT" property="beShareId"/>
        </collection>
    </resultMap>

<!--    <select id="findOrdersWithOrderItem" parameterType="OrdersPo" resultMap="BaseResultMap">-->
<!--        SELECT *-->
<!--        FROM orders o,order_item oi-->
<!--        WHERE o.id = #{id} AND oi.order_id=#{id}-->
<!--    </select>-->

    <select id="findOrdersWithOrderItem" parameterType="OrdersPo" resultMap="BaseResultMap">
        SELECT
        o.id as id,
        order_sn,
        pid,
        order_type,
        state,
        substate,
        o.gmt_create as gmt_create,
        o.gmt_modified as gmt_modified,
        confirm_time,
        origin_price,
        discount_price,
        freight_price,
        rebate_num,
        message,
        address,
        mobile,
        consignee,
        coupon_id,
        presale_id,
        shipment_sn,
        goods_sku_id,
        order_id,
        name,
        quantity,
        price,
        discount,
        oi.coupon_activity_id,
        be_share_id
        FROM orders o LEFT JOIN order_item oi
        ON o.id = oi.order_id
        WHERE o.id = #{id}
    </select>

</mapper>












